<div class="jumbotron siteNameBanner">
	<div class="container">
		<h1 class="text-center">NomadVice</h1>
		<h2 class="text-center">Travelling Tips From Fellow Vagabonds</h2>
	</div>
</div>

<div class="jumbotron">
	<div class="container atlantaBanner">
		<div class="gradientLeft">
			<div class="cityName">
				<!-- <h2>ATLANTA</h2> -->
			</div>
		</div>
	</div>
</div>

<!-- <div class="jumbotron">
	<div class="container londonBanner">
		<div class="gradientRight">
			<div class="cityName">
				<h2>LONDON</h2>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron">
	<div class="container sanFranBanner">
		<div class="gradientLeft">
			<div class="cityName">
				<h2>San Fransisco</h2>
			</div>
		</div>
	</div>
</div> -->

