<div class="hero">
	<h1 class="hero-header">NOMADVICE</h1>
	<h2 class="hero-subheadline">Travelling Tips From Fellow Vagabonds</h2>
	<div class="signup-button">Sign Up</div>
</div>
<div class="middle-section">
	<div class="hp-section section-2">
		<div class="sect-2-left">
		</div>
		<div class="sect-2-right">
		<h3>ATLANTA</h3>
		</div>
	</div>
	<div class="hp-section section-3">
		<div class="sect-3-left">
				<h3>LONDON</h3>
		</div>
		<div class="sect-3-right">
		</div>
	</div>
	<div class="hp-section section-4">
		<div class="sect-4-left">
		</div>
		<div class="sect-4-right">
		<h3>SAN FRANCISCO</h3>
		</div>
	</div>
</div>
