<div class="jumbotron siteNameBanner">
	<div class="container">
		<h1 class="text-center">NomadVice</h1>
		<h2 class="text-center">Travelling Tips From Fellow Vagabonds</h2>
	</div>
</div>

<% @cities.each do |city| %>
<div class="jumbotron">
	<div class="container cityBanner" style="background-image: url('<%= city.photo_url %>');">
		<div class="gradientLeft">
			<div class="cityName">
				<h2><%= link_to city.name.upcase, city_path(city) %></h2>
			</div>
		</div>
	</div>
</div>
<% end %>
