/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0 auto;
	padding: 0;
	font-family: avenir;
	color: black;
	/*background-color: black;*/
}
a{
	text-decoration: none;
	color: black;
}
.navbar {
	padding: 0px 25px;
	margin: 0px;
	background-color: darkgrey;
	height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.navbar-brand {
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 0.25em;
}

.siteNameBanner h1 {
	letter-spacing: .5em;
}
.siteNameBanner h2 {
	letter-spacing: 0.05em;
}
.siteNameBanner {
	background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    text-align: center;
    align-content: center;
    height: 50vh;
    width: 100vw;
}

.cityBanner {
	background-size: cover;
    height: 75vh;
	width: 100vw;
}
/*.sanFranBanner {
	background-image: url('https://wallpaperscraft.com/image/san_francisco_night_bridge_lights_58581_3840x2400.jpg');
	background-size: cover;
    height: 75vh;
	width: 100vw;
}*/
.gradientLeft {
		width: 100vw;
		background: linear-gradient(90deg, rgba(0,0,0,0.3), rgb(0, 0, 0));
		float: right;
		height: 100%;
}

/*.londonBanner {
	background-image: url('https://wallpaperscraft.com/image/london_height_buildings_sky_skyscrapers_687_1920x1080.jpg');
	background-size: cover;
    height: 75vh;
	width: 100vw;
}*/
/*.gradientRight {
		width: 300%;
		background: rgb(0,0,0);
		background: linear-gradient(90deg, rgb(9, 9, 9), rgba(0,0,0,0));
		float: left;
		height: 100%;
}*/





