/*Individual post show pages*/

.individual-post-show {
  text-align: center;
  margin: 30px;
  background: #f6f6f6;
  padding: 20px;
}

.userForm {
  text-align: center;
}

.post-info {
  border: 2px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.submit {
  padding: 10px;
}

.btn-success {
  font-size: 13px;
}

.user-show-image {
  width: 150px;
  height: 150px;
}

.user-comment-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50px
}


.button, .edit-button {
    background-color: lightgrey;
    border: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 6px;
}

.delete-button {
    background-color: #ff7f7f;
    margin-left: 10px;
}

.edit-delete-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
